@mixin centered-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin spaced-between-flex {
  @include centered-flex();
  justify-content: space-between;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin modal_parent {
  @include centered-flex();
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}
