@use "../../scss/utils/index" as utils;

.product_card {
  border: var(--thin-gray-border);
  border-radius: utils.getRem(6);
  overflow: hidden;

  img {
    width: 100%;
  }

  &__image_holder {
    position: relative;

    > button {
      position: absolute;
      width: utils.getRem(30);
      height: utils.getRem(30);
      border-radius: 50%;
      @include utils.centered-flex;
      background-color: var(--primary-color);
      color: white;
      top: 0.5rem;
      right: 0.5rem;
    }
  }

  &__details {
    padding: 0.5rem;

    > p:nth-of-type(1) {
      @include utils.ellipsis;
    }

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      p:first-of-type {
        font-size: utils.getRem(25);
        color: var(--primary-color);
      }

      p:last-of-type {
        color: var(--sharp-gray);
      }
    }
  }
}
